node_modules
yarn-error.log
/coverage
.env*
.env.test.local
.env.production.local
devTools.local.ts

# OSX
.DS_Store

*.local.*

time-tracked.json
*.machine.typed.ts
report.*.json
.dprintrc.json
.next